#add-quote {
  transition: opacity $transition-time ease-in-out, transform $transition-time ease-in-out;
  transform: scale(1);
  opacity: 0;
  display: none; // Hide by default, use JS to bring it to the DOM
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-tooltip + 5;
  background-color: $body-color;
  overflow-y: auto;

  // When OPEN
  &.open {
    transform: scale(1);
    opacity: 1;
  }
}


.add-quote__inner {
  color: $body-bg;
}

.add-quote__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  padding: 0;
  margin: 0;
  z-index: 10;
  line-height: 34px;
}


.comment-reply-title {
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  font-size: 10vw;
  color: $body-bg;
  background: $brand-primary;
  background-size: cover;

  &::before {    
      transition: transform $transition-time-loader ease-in-out;
      transition-delay: 0.75s;
      transform: translate3d(0,-100px,0);
      content: "";
      width: 50px;
      height: 50px;      
      margin-left: -25px;
      left: 50%;
      top: 5px;
      background: url(../images/logo-full.svg) no-repeat;
      position: absolute;


      @include media-breakpoint-up(sm) {
        width: 60px;
        height: 60px;      
        margin-left: -30px;
      }

      @include media-breakpoint-up(md) {
        width: 70px;
        height: 70px;      
        margin-left: -35px;
      }

      @include media-breakpoint-up(lg) {
        top: 5px;
      }

      @include media-breakpoint-up(xl) {
        top: 12px;
      }

    .page-ready & {
      transform: translate3d(0,0,0);
    }
  }

  @include media-breakpoint-up(sm) {
    font-size: 20vw;
  }

  @include media-breakpoint-up(lg) {
    font-size: 15vw;
  }
}