// 0 out the margin on these pages
.page.page-template-default .wrap {
	margin: $navbar-height 0 0;
}

.page-header {
	
	background: $body-color;
	color: $brand-primary;
	padding: 30px;
	width: 100%;

	h1 {
		transition: opacity $transition-time-loader ease-in-out, transform $transition-time-loader ease-in-out;
		transform: translate3d(0,5px,0);
		transition-delay: 0.7s;
		opacity: 0;
		font-size: 20vw;
		text-transform: uppercase;
		text-align: center;

		.page-ready & {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
}

h1, h2, h3, h4, h5 {
	font-family: $font-family-sans-serif;
}


.page-content {
	padding: 30px 0;
	font-family: $font-family-sans-serif-alt;
	font-size: 14px;
	line-height: 1.75;
	transition: opacity $transition-time-loader ease-in-out;
	transform: translate3d(0,5px,0);
	transition-delay: 0.5s;

	.page-ready & {
		opacity: 1;
	}

	& > p:first-of-type {
		font-family: $font-family-sans-serif;
		font-size: 25px;
    	line-height: 1.2;

    	@include media-breakpoint-up(md) {
    		font-size: 30px;
    		line-height: 1.3;
    	}
	}
}


#loading-cover {
	background: $brand-primary;
	position: fixed;
	top: 0;
	right: 0;
    left: 0;
	height: 100vh;
	width: 100vw;
	color: $body-color;
	line-height: 100vh;
	text-align: center;
	z-index: $zindex-tooltip + 5;

}

.loading-inner {
	transition: transform $transition-time ease-in-out, opacity $transition-time ease-in-out;
	
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	margin-bottom: 0;
	animation: loading-slide-anim $transition-time ease-in-out;

	// When the laoding screen is leaving
	.hello-app & {
		transform: translate3d(0, -20px, 0);
		opacity: 0;
	}
}


@keyframes loading-slide-anim {
  0% {
  	transform: translate3d(0, 20px, 0);
  	opacity: 0;
  }
  100% {    
    transform: translate3d(0, 0, 0);    
    opacity: 1;
  }
}




.logo-full {
	background: url(../images/logo-full.svg) no-repeat center;
	animation: loading-logo-anim 1s infinite alternate ease-in-out;
	display: block;
	width: 100px;
	height: 100px;

	&.loading {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		margin-left: -25px;
		margin-top: -25px;
		padding: 10px;
		border-radius: 100%;
		z-index: $zindex-tooltip + 5;
		background: $brand-primary url(../images/logo-q.svg) no-repeat center;
	}
}



@keyframes loading-logo-anim {
  0% {
    transform: rotate(5deg) skew(0deg);
     
  }
  100% {
    transform: rotate(0deg) skew(-5deg);
  }
}


.back-to-quotes {
	width: 100%;
	text-align: center;

	a {
		padding: 20px;
		display: block;
	}

	a:hover {
		background: $body-color;
		color: $body-bg;

		.ti-plus {
			background: $brand-primary;
		}
	}

	h3 {
		font-size: 25px;
	}

	p {
		font-size: 12px;
		font-family: $font-family-sans-serif-alt;
		margin: 0;
	}

	.ti-plus {
		background: darken($body-bg, 5%);
		display: inline-block;
    	padding: 2px;
	}

	@include media-breakpoint-up(xl) {
		width: 200px;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 20px;
		border-left: 1px dotted $border-color; 
		border-bottom: 1px dotted $border-color; 
	}

}


.back-to-quotes--inline {
	position: relative;
	margin: 20px 0;
	padding-top: 20px;

	&::before {
		content: "";
		border-top: 3px solid $border-color;
		width: 15px;
	    display: block;
	    margin-bottom: 10px;
	}

	.ti-eye {
		color: $body-color;
		margin-right: 10px;
	}
}



.page-template .wrap {
	margin: 80px;
}



.pager {
	opacity: 0;
	padding: 0;
	text-align: center;
}


.scroll-msg {
	position: fixed;
	width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
	color: $body-bg;
	text-align: center;
	z-index: $zindex-tooltip;

	b {
		width: 10px;
    	height: 10px;
    	display: block;
		background: url(../images/logo-q.svg) no-repeat center;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 50px;
		height: 10px;
		top: 50%;
		left: 50%;
		margin-top: -5px;
		margin-left: -25px;
		background: $brand-primary;
		z-index: -1;
	}

	&::before {
		animation: spin-loading 2s infinite ease-in-out;
	}

	&::after {
		animation: spin-loading-rev 2s infinite ease-in-out;
	}
}

@keyframes spin-loading {
  0% {
    transform: rotate(0deg);
     
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-loading-rev {
  0% {
    transform: rotate(360deg);
     
  }
  100% {
    transform: rotate(0deg);
  }
}


.quote-standout {
	background-color: $brand-primary; 
	color: $body-bg;
	padding: 20px;
	max-width: 220px;
	float: left;
	margin: 0 20px 10px -20px;
	font-size: 24px;
	font-family: $font-family-sans-serif;
	position: relative;

	  &::before {
	    content: "\201C";
	    font-family: $font-family-serif;
	    color: rgba(255,255,255,0.2);
		font-size: 100px;
		position: absolute;
		top: -32px;
		left: 10px;
	}	

	p {
		margin: 0;
		position: relative;
		z-index: 1;
		line-height: 1.3;
	}

	@include media-breakpoint-up(md) {
		margin: 0 20px 10px -60px;
	}
}